@font-face{
    font-family: Naruto;
    src: url('../../assets/fonts/njnaruto.ttf')
}
@font-face{
    font-family: Avengers;
    src: url('../../assets/fonts/avangers.ttf');
}
.first-half{
    height: 70vh;
}
.second-half{
    height:30vh;
    position: absolute;
    top: 70%;
    width: 100vw;
}
p.avenger-label{
    font-family: Avengers;
    font-size: 6vh;
    color: black;
}
p.naruto-label{
    font-family: Naruto;
    font-size: 6vh;
    color: black;
}
button{
    width: 100%;
    height: 7.5vh;
}
input[type="password"]{
    margin-left: 25vw;
}